<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=320,initial-scale=1,user-scalable=0" />
        <script src="microtemplating.js"></script>
        <title>Gegevenswoordenboek</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <p class="top-bar"><a class="info" href="./about">info</a></p>
        <div class="wrapper">
            <header>
                <center>
                    <a href="./">Gegevenswoordenboek</a><br><br>
                    <input type="text" id="vind-termen" placeholder="Zoek Term">
                </center>
            </header>
            <main id="resultaten" style="display: none"></main>
            <main id="schemas" style="display: show"></main>
        </div>

        <script type="text/template" id="resultaat_template">
            <div class="term" data-uid="<%=term.UID%>">
                <p><span data-filter="schema:<%=term.Schema%>" class="tag"><%=term.Schema%></span> <span class="big-font"><%=term.Label%></span></p>
                <p class="normal-font"><%=term.Definitie%></p>
                <% if (attributes.length) { %>
                <p>Attributen:</p>
                <% for (var i = 0; i < attributes.length; ++i ) { %>
                    <p class="nerd-font"> - <a data-filter="<%=attributes[i]%>" href="#<%=attributes[i]%>"><%=attributes[i]%></a></p>
                <% }} %>
                <% if (term.Documentatie) { %>
                <p>Documentatie: <a href="<%=term.Documentatie%>"><%=term.Documentatie%></a></p>
                <% } %>
                <p class="nerd-font">https://schema.json.link.here</p>
            </div>
        </script>

        <script type="text/template" id="schema_template">
            <div class="schema" data-filter="schema:<%=schema%>"><%=schema%></div>
        </script>

        <script type="module">
            if (!localStorage.getItem("splash")) {
                localStorage.setItem("splash", true);
                document.location = "./about";
            }

            var terms = await fetch ('terms.json').then(rs => rs.json()).then(rs => rs.terms);
            var triples = await fetch ('triples.json').then(rs => rs.json()).then(rs => rs.triples);
            renderResults(terms, triples);
            renderSchemas(terms);

            function filter(val) {
                val = val.toLowerCase();
                var filteredTerms;
                if (val.indexOf("schema:") !== -1) {
                    val = val.replace(/schema:/, "");
                    filteredTerms = terms.filter(function (term) {
                        return term.Schema.toLowerCase().indexOf(val) !== -1;
                    });
                } else {
                    filteredTerms = terms.filter(function (term) {
                        return term.Label.toLowerCase().indexOf(val) !== -1 ||
                            term.Definitie.toLowerCase().indexOf(val) !== -1;
                    });
                }
                document.getElementById("resultaten").style.display = "block";
                document.getElementById("schemas").style.display = "none"
                renderResults(filteredTerms, triples);
            }

            function renderResults(terms, triples) {
                let html = terms.map(function (term) {
                    let data = {
                        term: term,
                        attributes: triples.filter(function (triple) {
                            return triple.Term1 === term.Label &&
                                   triple.Relatie === "... heeft kenmerk ..."
                        }).map(function (triple) {
                            return triple.Term2;
                        })
                    };
                    return tmpl("resultaat_template", data);
                });
                document.getElementById("resultaten").innerHTML = html.join("");
                let filters = document.querySelectorAll("[data-filter]");
                for (var i = 0; i < filters.length; i++) {
                    let val = filters[i].dataset.filter;
                    filters[i].onclick = function () {
                        document.getElementById('vind-termen').value = val;
                        filter(val);
                    };
                }
            }

            function renderSchemas(terms) {
                let html = terms.map(function (term) {
                    return term.Schema;
                }).filter(function (value, index, self) {
                    return self.indexOf(value) === index;
                }).map(function (schema) {
                    return tmpl("schema_template", {schema: schema});
                });
                document.getElementById("schemas").innerHTML = html.join("");
                let filters = document.querySelectorAll("[data-filter]");
                for (var i = 0; i < filters.length; i++) {
                    let val = filters[i].dataset.filter;
                    filters[i].onclick = function () {
                        document.getElementById('vind-termen').value = val;
                        filter(val);
                    };
                }
            }

            document.getElementById('vind-termen').onkeyup = function (e) {
                let val = e.srcElement.value;
                filter(val);
            };
        </script>
    </body>
</html>